/*
****************************************
Add/Edit Admin Modal
****************************************
*/
.adminModal__container {
  height: 500px;
  width: 1028px;
  max-width: 1028px;

  .adminModal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    // Input name
    h2 {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      margin: 0 0 12px 0;

      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: var(--system-neutral-grey);
    }

    // Wrapper for input name and field
    & > div {
      width: 408px;
      margin-bottom: 32px;
    }

    // Input text fields
    & input,
    .adminModal__dropdown {
      width: 408px;
    }
  }
}
