* text=auto

*.css text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.xml text eol=lf
*.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.flv binary
*.fla binary
*.svg binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.ico binary