# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
frontend/node_modules

# testing
frontend/coverage

# intellij
.idea

# vscode
.vscode

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

.DS_Store

#backend
.env
__pycache__/
Pipfile.lock
