[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click= "*"
Flask= "*"
itsdangerous= "*"
Jinja2= "*"
MarkupSafe= "*"
Werkzeug= "*"
sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
"psycopg2" = "*"
flask-cors = "*"
py-dateutil = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.7"
