.page__events {
  padding-top: 34px;
}

.page__events_header {
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 0px;
    color: var(--brand-other-red);
  }
}

.page__events_list {
  padding-top: 60px;
}

.page__events_list_grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  grid-auto-rows: 1fr;
  gap: 50px;
}

.page__events_list_loading {
  text-align: center;
}

.page__events_list_empty_parent {
  margin: auto;
}

.page__events_list_empty {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 32px;
    line-height: 42px;
    color: var(--brand-pop-blue);
    margin-block-end: 16px;
  }

  h3 {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 5%;
    text-transform: uppercase;
    color: var(--brand-pop-blue);
    margin-block-end: 24px;
  }

  img {
    max-width: 230px;
    max-height: 400px;
  }
}

.modal__container {
  height: 600px;
  width: 800px;

  .modal__childrenWrapper {
    height: 308px;
    overflow-y: auto;
  }
}

.modal__children {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  grid-auto-rows: 1fr;
  align-items: end;

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--brand-pop-blue);
  }

  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    /* Pop Blue */
    color: var(--brand-pop-blue);
  }

  input {
    max-width: 300px;
  }

  & > button {
    margin-top: 54px;
    height: 40px;
    width: 100%;
    max-width: 300px;
  }

  .modal__judgeDropdown {
    width: 300px;
  }
}

.modal__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}
