.page__login {
  padding-top: 50px;
  margin-left: -40px;
}

.page__login_row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.page__login_col {
  display: flex;
  flex-direction: column;
}

.page__login_illustration {
  margin-left: auto;
  max-width: 744px;
  max-height: 662px;
}

.page__login_card {
  display: flex;
  flex-direction: column;
  h3 {
    color: var(--brand-pop-blue);
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin: 0px;
  }

  input {
    margin-top: 12px;
    max-width: 300px;
  }

  button {
    margin-top: 20px;
    max-width: 140px;

  }
}
