/*
****************************************
Performance details: Loading spinner
****************************************
*/
.performance_details__loader_wrapper {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.performances_details__eventName {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 24px 0 0 0;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--brand-pop-blue);
}

.performance_details__content_container {
  display: flex;
  flex-direction: row;
  padding-top: 42px;
  padding-bottom: 20px;
  max-height: 820px;
}

.performance_details__tabs_container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  max-width: 507px;
  width: 100%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow-y: auto;
}

.performance_details__tabs {
  background-color: #fff;
  border-bottom: 2px solid var(--system-light-grey);

  button {
    padding: 30px;
    border: none;
    background-color: #fff;
    text-align: left;
    position: relative;
    width: 100%;
  }

  h3 {
    color: var(--brand-pop-blue);
    font-size: 24px;
    line-height: 31px;
    margin: 0px;
    font-weight: 700;
  }
}

.performance_details__tabs_selected {
  button {
    border-left: 8px solid #ffab00;
  }
}

.performance_details__content {
  flex: 1 0 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 52px 68px;
  overflow-y: auto;
  box-sizing: border-box;

  h3 {
    color: var(--brand-pop-blue);
    font-size: 24px;
    line-height: 31px;
    margin: 0px;
    font-weight: 700;
  }

  &.performance_details__no_content_container {
    justify-content: center;
    align-items: center;
  }
}
