/*
****************************************
Settings: Container
****************************************
*/
.settings {
  margin-top: 34px;
  margin-bottom: 36px;
  padding: 64px;
  background-color: white;

  // Settings page section titles
  h2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 36px 0;

    color: var(--brand-pop-blue);
  }

  // Settings page field labels
  h3 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 12px 0;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: var(--system-neutral-grey);
  }
}

.settings__title {
  margin-bottom: 20px;
}

/*
****************************************
Settings: Error
****************************************
*/
.settings__error {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 16px;

  img {
    height: 16px;
    width: 16px;
  }

  p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: -0.084px;

    color: var(--brand-red);
  }
}

/*
****************************************
Settings: Category selection
****************************************
*/
.settings__categorySelection {
  // Select category text
  h2 {
    margin: 0 0 36px 0;
  }

  // Dropdown label
  h3 {
    margin: 0 0 12px 0;
  }

  // Dropdown select component
  .settings__categoryDropdown {
    width: 100%;
    margin-bottom: 12px;
  }
}

// Dropdown category values
.settings__categoryValues__wrapper {
  max-height: 176px;
  margin-bottom: 24px;
  overflow-y: auto;

  .settings__categoryValues {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;

    margin-bottom: 4px;
    padding: 10px 20px;
    min-height: 26px;
    background: var(--system-lightest-grey);
    border-radius: 3px;
    box-sizing: border-box;

    // Placeholder text styles
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--system-neutral-grey);

    // Category value
    .settings__categoryValues__categoryValue {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      padding: 2px 6px;
      margin: 6px 9px;

      background: #ffffff;
      border: 1px solid transparent;
      border-radius: 3px;
      box-sizing: border-box;

      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;

      color: var(--brand-pop-blue);

      img {
        height: 7px;
        width: 7px;
        padding-left: 10px;

        cursor: pointer;
      }
    }

    // Category value with delete error outline
    .settings__categoryValues__categoryValue__error {
      border: 1px solid var(--brand-red);
    }
  }
}

/*
****************************************
Settings: Add category value
****************************************
*/
.settings__addCategoryValue {
  margin-bottom: 64px;

  // Add category value text
  h2 {
    margin: 0 0 26px 0;
  }

  // Input and Add button
  .settings__addCategoryValue__input {
    display: flex;
    align-items: center;

    .settings__addCategoryValue__input__textBox__wrapper {
      margin-right: 12px;
    }

    input {
      width: 278px;
    }
  }

  // Settings page submit buttons
  button {
    height: 40px;
    box-sizing: border-box;
    border-color: var(--brand-other-red);
    background-color: var(--brand-other-red);

    &:disabled {
      border-color: var(--system-neutral-grey);
      background-color: var(--system-neutral-grey);
      color: var(--system-light-grey);
    }
  }
}

/*
****************************************
Settings: Edit Schools
****************************************
*/
.settings__editSchools {
  margin-bottom: 64px;

  .settings__editSchools__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    // Header
    h2 {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
    }
  }

  .settings__editSchools__tableWrapper {
    div:first-child {
      padding: 0;

      & > table {
        width: 100%;

        .settings__schoolsTable__editCell {
          text-align: center;
        }
      }
    }
  }
}

/*
****************************************
Settings: Edit Admins
****************************************
*/
.settings__editAdmins {
  .settings__editAdmins__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    // Header
    h2 {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
    }
  }

  .settings__editAdmins__tableWrapper {
    div:first-child {
      padding: 0;

      & > table {
        width: 100%;

        .settings__adminsTable__editCell {
          text-align: center;
        }
      }
    }
  }
}

/*
****************************************
Settings: Confirm Delete Modal
****************************************
*/
.settings__modal {
  height: auto;
  width: 576px;
  padding: 48px 54px;

  // Title
  h1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
  }

  // Warning description
  p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 6px 0 20px 0;

    color: var(--system-neutral-grey);
  }
}

/*
****************************************
Settings: Loading spinner
****************************************
*/
.settings__loadingSpinner {
  display: flex;
  justify-content: center;
  width: 100%;
}
