/*
****************************************
Audio Player
****************************************
*/
.audioPlayer {
  width: 100%;
  outline: none;
}

.noAudioFileMessage {
  color: var(--system-neutral-grey);
}
