/*
****************************************
Banner
****************************************
*/
.banner {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-pop-yellow);

  // Icon
  img {
    height: 20px;
    width: 20px;
    margin-right: 6px;
  }

  // Message
  span {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    color: var(--brand-navy);

    a {
      color: inherit;
    }
  }
}
