.button__filled:hover {
  opacity: 0.8;
}

.button__unfilled:hover {
  background-color: var(--brand-pop-blue);
  color: #fff;
}

/*
****************************************
Button
****************************************
*/
.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;
  padding: 10px 40px;
  border: 1px solid var(--brand-pop-blue);
  border-radius: 4px;

  text-align: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  cursor: pointer;
}

/* Outlined button */
.button__outlined {
  background-color: #ffffff;
  color: var(--brand-pop-blue);
}

/* Contained button */
.button__contained {
  background-color: var(--brand-pop-blue);
  color: #ffffff;
}

// Contained button (disabled)
.button__contained:disabled {
  border-color: var(--system-neutral-grey);
  background-color: var(--system-neutral-grey);
  color: var(--system-light-grey);
}

// Warning button
.button__warning {
  border-color: var(--brand-pop-yellow);
  background-color: var(--brand-pop-yellow);
  color: var(--brand-navy);

  &:disabled {
    border-color: var(--system-light-grey);
    background-color: var(--system-light-grey);
    color: var(--system-neutral-grey);
  }
}

/* Edit button */
.button__edit {
  height: 24px;
  width: 24px;
  padding: 2px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button__edit > img {
  height: 100%;
  width: 100%;
}

/*
****************************************
Button: Common
****************************************
*/
.button__fullwidth {
  width: 100%;
}
