/*
****************************************
Title
****************************************
*/
.title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: var(--brand-other-red);
}
