/*
****************************************
Performances: Modal
****************************************
*/
.modal__container {
  height: 704px;
  width: 1024px;
  max-width: 1024px;
}

.modal {
  flex: 1 0 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: space-between;

  width: 100%;
  height: 100%;
}

/* Field name */
.modal h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 12px 0;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--system-neutral-grey);
}

/* Field caption/note */
.modal h3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 6px 0 0 0;

  color: var(--system-neutral-grey);
}

/* Field container */
.modal > div {
  width: 45%;
  margin-bottom: 32px;
}

/* Last field each  column */
.modal > div:nth-child(3),
.modal > div:last-child {
  margin-bottom: 0;
}

/* Second last field in second column */
.modal > div:nth-child(7) {
  padding-bottom: 24px;
}

/* Input and dropdown fields */
.modal input,
.modal__dropdown {
  width: 408px;
}
