/*
****************************************
Dropdown: Wrapper
****************************************
*/
.dropdown__wrapper {
  width: 200px;
}

/*
****************************************
Dropdown: Select
****************************************
*/
/* Select component */
:global(.dropdown__control) {
  height: 40px;
  background: var(--system-lightest-grey);

  box-sizing: border-box;
  border: 2px solid var(--system-light-grey) !important;
  border-radius: 3px;
}

:global(.dropdown__control):focus {
  background: #ffffff !important;
  border: 2px solid var(--system-light-blue);
}

/* Placeholder text */
:global(.dropdown__placeholder),
:global(.dropdown__single-value),
:global(.dropdown__input) > input {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: var(--system-neutral-grey) !important;
}

/*
****************************************
Dropdown: Options
****************************************
*/
.dropdown__option {
  display: flex !important;
  flex-flow: row nowrap;
  align-items: center;
  height: 32px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 20px;

  color: var(--system-navy);
}
