/*
****************************************
Input: Wrapper
****************************************
*/
.input__wrapper {
  position: relative;
  display: inline-block;
}

/*
****************************************
Input
****************************************
*/
.input {
  height: 40px;
  background-color: #fafafa;
  border: 2px solid var(--system-light-grey);
  border-radius: 3px;
  padding: 0 8px;
  box-sizing: border-box;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--system-neutral-grey);
}

/* Increase right padding when icon is included */
.input_withIcon {
  padding-right: 36px;
}

.input::placeholder {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: var(--system-neutral-grey);
}

/*
****************************************
Input: Icon
****************************************
*/
.input__icon {
  position: absolute;
  top: 0;
  left: calc(100% - 35px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
}
