@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway:300,400,500,600,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #FFF;
}
a:hover {
   color: grey;
}