.performance_details__no_content {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 32px;
    line-height: 42px;
    color: var(--brand-pop-blue);
    margin-block-end: 16px;
  }

  h3 {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 5%;
    text-transform: uppercase;
    color: var(--brand-pop-blue);
    margin-block-end: 24px;
  }

  img {
    max-width: 230px;
    max-height: 314px;
  }
}
