.judge__feedback_container {
  width: 100%;
  padding: 50px;

  p {
    font-size: 20px;
    line-height: 140.62%;
    color: #172b4d;
  }

  h2 {
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.judge__feedback_header {
  box-sizing: border-box;
  display: flex;
  flex: row;
  justify-content: space-between;

  h2 {
    color: var(--system-neutral-grey);
    vertical-align: baseline;
  }

  button {
    max-height: 40px;
    vertical-align: top;
  }
}

.judge__feedback_buttons_spacing {
  margin-right: 45px;
}

.judge__feedback_audio_player {
  box-sizing: border-box;
  display: flex;
  flex: row;
  justify-content: space-between;
  padding: 0 24px;
  border: 1px solid #0b0504;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 2em;

  span {
    display: flex;
    flex: row;
  }
}

.judge__feedback_notes_input {
  width: 100%;
  padding: 20px 0px;

  textarea {
    width: 100%;
    resize: none;
    height: 140px;
    max-height: 140px;
    border: 2px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140.62%;
    /* or 28px */
    color: #6b778c;
  }
}

.judge__feedback_dropdown_wrapper {
  max-width: 400px;
  width: 100%;
  margin: 20px 0px;
}

.judge__feedback_input_wrapper {
  max-width: 260px;
  width: 100%;
  margin: 20px 0px;
}

.performance_summary__score_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 0px;
}

.performance_details__score_card {
  width: 190px;
  height: 99px;
  border: 1px solid #172b4d;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #172b4d;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  h2 {
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 12px 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: var(--system-neutral-grey);
  }
}

.performance_details__score_card_cumulative {
  background-color: var(--brand-pop-blue);
  h1,
  h2 {
    color: #fff;
  }
}
